* {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
}

.container {
  background: #86f;
  padding: 20px 5px;

}

.caja {
  background: #025;
  height: 80px;
  width: 80px;
  margin: 20px;
  animation-name: desplazarse;/*parametros obligatorios + nombre*/
  animation-duration: 1s;
  position: relative;
  /*animation-timing-function: ease;*/
  animation-iteration-count: 20;
  animation-direction: alternate-reverse;
  animation-fill-mode: both;
  /*forwards nos deja en la ultima posicion y estado de la animación*/
  animation-delay: 0,1s;
}


/*regla para animaciones + nombre*/
@keyframes desplazarse {
  0% {
    left: 0;
    background-color: red;
  }

  50% {
    background-color: green;
  }

  100% {
    left: 80%;
    background-color: blue;

  }
}
