# Ignorar la carpeta jsConDalto/eFinalModifASelectorDePJ
jsConDalto/eFinalModifASelectorDePJ/

# Ignorar la carpeta jsConDalto/proximo
jsConDalto/proximo/

# Ignorar el archivo css/proyectoPersonal1
css/proyectoPersonal1
