body{
    color: #fff;
    font-family: sans-serif;
}

#getName, #getJob {
    font-size: 40px;
    margin: 20px;
}

.nombre, .job {
    background-color: #000;
    color: #fff;
    font-size: 32px;
    margin: 5px;
    padding: 15px;
    display: inline-block;
}

.nombre {
    background-color: #900;
}